[submodule "provisioning/roles/ansible-zookeeper"]
	path = provisioning/roles/ansible-zookeeper
	url = git@github.com:balanced-ops/ansible-zookeeper.git
[submodule "provisioning/roles/ansible-role-ntp"]
	path = provisioning/roles/ansible-role-ntp
	url = git@github.com:resmo/ansible-role-ntp.git
[submodule "provisioning/roles/ansible-base"]
	path = provisioning/roles/ansible-base
	url = git@github.com:balanced-cookbooks/ansible-base.git
[submodule "provisioning/roles/ansible-kafka"]
	path = provisioning/roles/ansible-kafka
	url = git@github.com:balanced-ops/ansible-kafka.git
